{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}

<div style="text-align:center;margin-top:80px">

<h1>🍽️ Restaurant Reservation System</h1>

<p>Welcome to our restaurant.</p>

<br>

<a href="/reservation" style="padding:10px 20px;background:#333;color:white;text-decoration:none;border-radius:5px;">
Make Reservation
</a>

<br><br>

<a href="/admin">Admin Panel</a>

</div>

{% endblock %}